@model IEnumerable<WebApplication2.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    There are @Model.Count() restaurants in db
</div>

<div>
    <ul>
        @foreach(var restaurant in Model)
        {
            <li>@restaurant.Name</li>
        }
    </ul>
</div>